DATABASE_URL=postgresql://neondb_owner:<password>@ep-silent-frost-att0pwnl-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=changeme-replace-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
